<div class="main">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <h1>Login</h1>
                
                <%= form_tag('/login', method: 'post') do %>
                
                    <div class="form-group">
                        <p><%= label_tag :email %></p>
                        <p><%= email_field_tag :email %></p>
                    </div>
                    
                    <div class="form-group">
                        <p><%= label_tag :password %></p>
                        <p><%= password_field_tag :password %></p>
                    </div>
                    
                    <%= submit_tag "Log In", class: "btn" %>
                <% end %>
                
            </div>
        </div>
    </div>
</div>