<!DOCTYPE html>
<html>
<head>
  <title>Jason's Workspace</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="http://s3.amazonaws.com/codecademy-content/projects/bootstrap.min.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
 <div class="header">
      <div class="container" style= "text-align: center">
          <img src="http://s3.amazonaws.com/codecademy-content/projects/pocketbook/logo.svg" width="50" height="50">
      </div>
  </div>
<%= yield %>
<div class="footer">
      <div class="container">
        <ul>
          <%= link_to "Sign up |", '/' %>
          <%= link_to "Contact |", 'contact' %>
          <%= link_to "Help |", 'help' %>
          <%= link_to "About", 'about' %>
        </ul>
      </div>
    </div>
</body>
</html>
